@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-marquee {
  animation: marquee var(--duration, 30s) linear infinite;
}

.animate-marquee-reverse {
  animation: marquee-reverse var(--duration, 30s) linear infinite;
}

.paused {
  animation-play-state: paused;
}